/* ==========================================================================
   Sass variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 20;
$doc-line-height: 30;
$paragraph-indent: 0;
$base-font: 'PT Serif', serif;
$heading-font: 'PT Sans Narrow', sans-serif;
$code-font: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$alt-font: $base-font;

/*
   Colors
   ========================================================================== */

$bodycolor      : #18453B;
$body-color     : $bodycolor;
$textcolor      : #fff;
$text-color     : $textcolor;
$border-color   : $text-color;
$basecolor 		  : #fff;
$compcolor 		  : #fff;
$bordercolor    : $basecolor;
$white          : #fff;
$black          : #111;
$accentcolor    : $white;

/* buttons */
$primary			: #fff;
$success			: #fff;
$warning			: #fff;
$danger				: #fff;
$info				  : #fff;

/* brands */
$facebook-color     : #fff;
$flickr-color       : #fff;
$foursquare-color   : #fff;
$google-plus-color  : #fff;
$instagram-color    : #fff;
$linkedin-color     : #fff;
$pinterest-color    : #fff;
$rss-color          : #fff;
$tumblr-color       : #fff;
$twitter-color      : #fff;
$vimeo-color        : #fff;
$youtube-color      : #fff;

/* links */
$linkcolor 		    : #fff;
$link-color       : #fff;
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited : lighten($linkcolorhover, 20);
$linkcolorfocus 	: darken($linkcolorvisited, 10);

/*
   Breakpoints
   ========================================================================== */

$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
